.checkbox-container{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    position: relative;
}

.checkbox-container input{
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.checkmark{
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.checkbox-container input:checked + .checkmark{
    background-color: #ffffff;
    border: 3px solid black;
    animation: pular 0.4s ease-in-out;
}

.checkmark::after {
    content: "";
    position: absolute; 
    display: none;
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #00ff22;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-container input:checked + .checkmark::after {
    display: block;
}

@keyframes pular{
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.3)
    }
    100%{
        transform: scale(1)
    }
}
